.accordion {
    &__container {
        max-width: 748px;
        margin: 80px auto; 
        padding: 0 40px;

        @include breakpoint(tablet) {
            margin: 140px auto;
        }

        @include breakpoint(smalldesktop) {
            padding: 0;            
        }
    }

    &__button {
        transition: 0.4s;
        font-size: em(18);
        line-height: 28px;
        font-family: $heading-font-family;
        letter-spacing: 1.36px;
        color: $heading-font-color;
        background: none;
        border: none;
        margin-top: 60px;
        padding-bottom: 20px;
        padding-right: 60px;
        border-bottom: 1px solid $border-color;
        width: 100%;
        text-align: left;
        cursor: pointer;
        position: relative;

        @include breakpoint(smalldesktop) {
            font-size: em(20);
            line-height: 30px;
            padding-bottom: 25px;
            padding-right: 0;
        } 

        &:after {
            /* "closed" sign (v) */
            content: " ";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='12px' viewBox='0 0 25 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EStroke 1 Copy 7%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='Footer' transform='translate(-887.000000, -22.000000)' stroke='%23001b71' stroke-width='2'%3E%3Cg id='Stroke-1-Copy-7'%3E%3Cpolyline transform='translate(899.500000, 28.000000) rotate(-90.000000) translate(-899.500000, -28.000000) ' points='895 17 904 28 895 39'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 25px;
            height: 12px;
            position: absolute;
            top: 3px;
            right: 10px;
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotateX(180deg);
            
            @include breakpoint(smalldesktop) {
                right: 30px;
            }
        }

        &.active:after {
            /* "open" sign (^) */
            content: " ";
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='25px' height='12px' viewBox='0 0 25 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3EStroke 1 Copy 7%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='Footer' transform='translate(-887.000000, -22.000000)' stroke='%23001b71' stroke-width='2'%3E%3Cg id='Stroke-1-Copy-7'%3E%3Cpolyline transform='translate(899.500000, 28.000000) rotate(-90.000000) translate(-899.500000, -28.000000) ' points='895 17 904 28 895 39'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            width: 25px;
            height: 12px;
            position: absolute;
            background-repeat: no-repeat;
            transform: rotateX(360deg);
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    &__inner {
        margin-top: 35px;
        font-family: $secondary-font-family;
        color: $font-color;
        font-size: em(16);
        line-height: 24px;
        letter-spacing: 1px;

        @include breakpoint(smalldesktop) {
            padding: 0 30px 20px 0;
        }
    }
}

// page specific 
.directions {
    .accordion__wrapper {
        background: $tertiary-color;
        padding: 10px 0;
    }
}
