.stclair-forms {
    .wpforms-field-container {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0 40px !important;

        input,
        textarea,
        select {
            background: $tertiary-color !important;
            border: 1px solid $border-color !important;
            font-family: $tertiary-font-family !important;
            font-size: em(12) !important;
            line-height: 28px !important;
            letter-spacing: 1px !important;
            // -webkit-appearance: none; /* supported in Blink, Webkit, Gecko and Edge 12+ */
            // appearance: none;
        }

        select:-moz-focusring {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        select {
            /* styling */
            background-color: white;
            border: thin solid #000;
            border-radius: 4px;
            display: inline-block;
            font: inherit;
            line-height: 1.5em;
            padding: 0.5em 3.5em 0.5em 1em;
          
            /* reset */
          
            margin: 0;      
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
          }

        select {
            background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
          background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
          background-repeat: no-repeat;
        }
    }

    .wpforms-field-label {
        color: $quinary-color !important;
        font-family: $tertiary-font-family;
        text-transform: uppercase !important;
        letter-spacing: 0.75px !important;
        font-size: em(12) !important;
        color: $quinary-color !important;
    }

    div.wpforms-container-full .wpforms-form label.wpforms-error {
        padding-top: 12px;
        font-size: em(12);
        font-family: $tertiary-font-family;
        letter-spacing: 0.75px !important;
    }

    div.wpforms-container-full .wpforms-form .wpforms-field {
        padding: 10px 0;
        position: relative;

        @include breakpoint(tablet) {
            padding: 10px 20px;
        }
    }

    .wpforms-field-textarea {
        &::before {
            content: "Additional Information, Questions and/or Comments";
            position: absolute;
            top: 0;
            left: 0;
            font-family: $heading-font-family;
            color: $font-color;
            font-size: em(18);
            letter-spacing: 1px;

            @include breakpoint(tablet) {
                left: 20px;
                font-size: em(20);
            }
        }
    }

    &__input {
        &--full {
            min-width: 100%;
            padding-top: 80px !important;
            margin-top: 40px !important;

            @include breakpoint(mobile) {
                padding-top: 120px !important;
            }

            @include breakpoint(tablet) {
                padding-top: 70px !important;
            }
        }

        &--half {
            min-width: 100%;

            // @include breakpoint(tablet) {
            //     min-width: calc(50% - 20px);
            // }
        }
        
        &--third {
            min-width: 100%;

            // @include breakpoint(tablet) {
            //     min-width: calc(33.33% - 20px);
            // }
        }
    }

    &__button {
        border: 0 !important;
        background: $primary-color !important;
        color: white !important;
        text-transform: uppercase !important;
        font-family: $tertiary-font-family !important;
        letter-spacing: 3.05px !important;
        padding: 20px 30px !important;
        font-size: em(12) !important;
        transition: background-color 0.7s ease !important;
      
        &:hover,
        &:focus,
        &:active {
            background-color: $secondary-color !important;
            cursor: pointer !important;
        }

        @include breakpoint(tablet) {
            margin-left: 20px !important;
        }
      
        @include breakpoint(largedesktop) {
            font-size: em(14) !important;
            padding: 24px 46px !important;
        }
    }
}
