.booking-form {
    &__wrapper {
        background: $tertiary-color;
    }

    &__container {
        max-width: 797px;
        margin: 0 auto; 
        padding: 100px 40px;
    }

    &__heading {
        text-align: center;
        padding-bottom: 60px;
    }

    &__sub-heading {
        color: $font-color;
        font-size: em(20);
        
        @include breakpoint(tablet) {
            padding: 0 20px;
            font-size: em(24);
        }
    }
}
