// default styles for all variations of this component
.half-and-half-panel {
    &__container {
        background-color: $tertiary-color;
        
        &:nth-child(even) {
            .half-and-half-panel__inner {
                flex-direction: row-reverse;
                justify-content: space-around;
            }
        }
    }

    &__inner {
        padding: 60px 40px;
        max-width: $site-width;
        margin: 0 auto;
        
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-around;
            align-items: center;
            // padding: 175px 60px;
            padding: 60px;
        }

        @include breakpoint(largedesktop) {
            justify-content: space-between;
        }
    }

    &__text-section {
        @include breakpoint(tablet) {
            max-width: 398px;
        }
    }

    &__paragraph {
        min-width: 300px;
        font-family: $tertiary-font-family;
        font-size: em(14);
        line-height: 28px;
        letter-spacing: 1px;
        // padding: 25px 35px 35px 0;
        padding: 25px 35px 0 0;

        @include breakpoint(tablet) {
            max-width: 350px;
            // padding: 25px 0 35px 0;
            padding: 25px 0 0 0;
            margin-right: 50px;
        }

        @include breakpoint(desktop) {
            // padding: 64px 0 52px 0;
            padding: 64px 0 12px 0;
            margin-right: 50px;
        }
    }

    // &__download-links {
    //     @include breakpoint(smalldesktop) {
    //         margin-bottom: 40px;
    //     }
    // }

    &__download-link {
        display: block;
        padding: 20px 0 20px 24px;
        text-decoration: none;
        color: $quinary-color;
        font-size: em(22);
        line-height: 28px;
        letter-spacing: 2.18px;
        font-family: $heading-font-family;

        @include breakpoint(smalldesktop) {
            font-size: em(32);
            line-height: 46px;
            padding: 24px 0 24px 30px;
        }

        &:first-child {
            padding: 0 0 20px 24px;

            @include breakpoint(smalldesktop) {
                padding: 0 0 24px 30px;
            }
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &--wrapper {
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid $border-color;

            @include breakpoint(tablet) {
                margin-right: 40px;
            }
        }

        &--icon {
            display: inline;
            width: 8px;
            height: 14px;
            
            @include breakpoint(smalldesktop) {
                width: 10px;
                height: 22px;
            }
        }
    }

    &__button {
        margin-top: 40px;
    }

    &__image {
        margin-top: 50px;
        width: 100%;

        @include breakpoint(tablet) {
            margin-top: 0;
        }
    }
}

// styles specific for this component on home page only 
.home {
    .half-and-half-panel {
        &__container {
            background-color: white;

            .half-and-half-panel__inner {   
                padding: 60px 40px;

                @include breakpoint(tablet) {
                    padding: 60px;
                }

                @include breakpoint(smalldesktop) {
                    padding: 100px 60px 175px;
                }

                @include breakpoint(largedesktop) {
                    padding: 140px 90px 140px 148px;
                }
            }
            
            &:last-child {
                background-image: url('/wp-content/themes/stclair/img/paper-texture-repeat.jpg');

                .half-and-half-panel__inner {

                    @include breakpoint(tablet) {
                        justify-content: flex-end;
                    }
    
                    @include breakpoint(desktop) {
                        padding: 60px 90px 147px 60px;
                        margin-top: 50px;
                        align-items: unset;
                    }
    
                    @include breakpoint(largedesktop) {
                        padding: 100px 90px 150px 148px;
                        margin-top: 50px;
                    }
                }

                .half-and-half-panel__text-section {
                    @include breakpoint(tablet) {
                        margin-left: 50px;
                        padding-top: 35px;
                    }
                    
                    @include breakpoint(largedesktop) {
                        margin-left: 150px;
                    }
                }
    
                .half-and-half-panel__image {
                    @include breakpoint(smalldesktop) {
                        margin-top: -130px;
                    }
    
                    @include breakpoint(largedesktop) {
                        margin-top: -168px;
                    }
                }
            }
        }
    }
}

// styles specific for this component on restaurant, restaurants-and-bars and events-and-meetings page only 
.restaurant,
.restaurants-and-bars,
.events-meetings,
.weddings,
.discover {
    .half-and-half-panel__wrapper {
        @include breakpoint(desktop) {
            padding-top: 245px;
            padding-bottom: 285px;
        }
    }

    .half-and-half-panel__container:first-child {

        .half-and-half-panel__inner {
            align-items: normal;

            @include breakpoint(tablet) {
                padding: 70px 60px 80px;
            }

            @include breakpoint(desktop) {
                padding: 124px 60px 100px;
            }
        }

        .half-and-half-panel__text-section {

            @include breakpoint(mobile) {
                max-width: none;
            }
            
            @include breakpoint(tablet) {
                margin-right: 40px;
            }

            @include breakpoint(smalldesktop) {
                max-width: 530px;
            }
        }

        .half-and-half-panel__heading {
            max-width: 300px;
        }

        .half-and-half-panel__paragraph {
            padding: 25px 10px 18px 0;

            @include breakpoint(desktop) {
                max-width: 480px;
            }

            @include breakpoint(desktop) {
                padding: 30px 0 52px 0;
            }
        }

        .half-and-half-panel__image-section {
            @include breakpoint(desktop) {
                margin-top: -244px;
            }
        }
    }

    .half-and-half-panel__container:last-child {
        .half-and-half-panel__image-section {
            margin-bottom: -210px;
        }
    }
}

.restaurant {
    .half-and-half-panel__container:first-child {
        background: $quaternary-color;
    }
}


