// default styles for all variations of this component
.half-and-half-panel {
    &__container {
        background-color: $tertiary-color;
        
        &:nth-child(even) {
            .half-and-half-panel__inner {
                flex-direction: row-reverse;
                justify-content: space-around;
            }
            .half-and-half-panel__text-section {
                @include breakpoint(tablet) {
                    padding: 68px 0 0 62px;
                }
                @include breakpoint(largedesktop) {
                    padding: 118px 0 0 162px;
                }
            }
        }

        &:nth-child(odd) {
            .half-and-half-panel__text-section {
                @include breakpoint(tablet) {
                    padding: 68px 62px 0 0;
                }
                @include breakpoint(largedesktop) {
                    padding: 118px 162px 0 0;
                }
            }
        }

        &:first-child {
            padding-top: 50px;
        }

        &:last-child {
            padding-bottom: 50px;
        }
    }

    &__inner {
        padding: 30px 40px;
        max-width: 1333px;
        margin: 0 auto;
        
        @include breakpoint(tablet) {
            display: flex;
            justify-content: space-around;
            padding: 80px 60px 20px 60px;
        }

        @include breakpoint(largedesktop) {
            justify-content: space-between;
            padding: 80px 60px;
        }

        @include breakpoint(xlargedesktop) {
            padding: 80px 0;
        }
    }

    &__paragraph {
        min-width: 300px;
        font-family: $tertiary-font-family;
        font-size: em(14);
        line-height: 28px;
        letter-spacing: 1px;
        padding: 25px 35px 0 0;

        @include breakpoint(tablet) {
            max-width: 350px;
            padding: 25px 0 0 0;
        }

        @include breakpoint(desktop) {
            padding: 40px 0 12px 0;
        }
    }

    &__download-link {
        display: block;
        padding: 20px 0 20px 24px;
        text-decoration: none;
        color: $quinary-color;
        font-size: em(22);
        line-height: 28px;
        letter-spacing: 2.18px;
        font-family: $heading-font-family;

        @include breakpoint(smalldesktop) {
            font-size: em(32);
            line-height: 46px;
            padding: 24px 0 24px 30px;
        }

        &:first-child {
            padding: 0 0 20px 24px;

            @include breakpoint(smalldesktop) {
                padding: 0 0 24px 30px;
            }
        }

        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &--wrapper {
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid $border-color;

            @include breakpoint(tablet) {
                margin-right: 40px;
            }
        }

        &--icon {
            display: inline;
            width: 8px;
            height: 14px;
            
            @include breakpoint(smalldesktop) {
                width: 10px;
                height: 22px;
            }
        }
    }

    &__button {
        margin-top: 40px;
    }

    &__image-section {
        display: flex;
        align-items: flex-end;
    }

    &__image {
        margin-top: 30px;
        width: 100%;

        @include breakpoint(tablet) {
            margin-top: 0;
        }
    }

    &__list {
        font-family: $secondary-font-family;
        font-size: em(12);
        line-height: 20px;
        letter-spacing: 0.67px;
        text-transform: uppercase;
        color: $font-color;
        padding-top: 40px;
        padding-left: 92px;
        position: relative;

        p {
            padding-bottom: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 48px;
            background: $quinary-color;
            width: 72px;
            height: 2px;
        }
    }
}
