.wysiwyg-editor {
    &__wrapper {
        max-width: 830px;
        margin: 0 auto;
        padding: 40px;
        font-family: $tertiary-font-family;
        font-size: em(16);   
        line-height: 24px;
        letter-spacing: 1px;
        color: $font-color;
        text-align: left;

        @include breakpoint(tablet) {
            padding: 120px 40px 166px;
        }

        ol {
            margin-left: 24px;

            @include breakpoint(tablet) {
                margin-left: 64px;
            }
        }

        ul {
            margin-left: 15px;
        }

        a {
            color: $quinary-color;

            &:hover,
            &:focus {
                text-decoration: none;
            }
        }

        img {
            width: 100%;
            margin: 70px 0;
        }

        blockquote {
            font-size: em(30);
            line-height: 48px;
            text-align: center;
            font-family: $heading-font-family;
            color: $heading-font-color;
            letter-spacing: 1.13px;
            padding: 60px 20px 30px;
            position: relative;

            @include breakpoint(tablet) {
                font-size: em(43);
                line-height: 62px;
            }

            &::before {
                // quotation mark
                content: "\201C";
                font-size: em(36);
                position: absolute;
                top: 25px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

.careers-page__wysiwyg {
    background: $tertiary-color;

    .wysiwyg-editor {
        &__wrapper {
            padding: 40px;
    
            @include breakpoint(tablet) {
                padding: 120px 40px 60px;
            }
        }
    }
}

.post-template {

    .wysiwyg-editor {
        &__wrapper {
            padding: 40px;
    
            @include breakpoint(tablet) {
                padding: 120px 40px 50px;
            }
        }
    }
}
